.design-card {
  display: flex;
  width: 100%;
  padding: 20px;
  border: 0.2px solid #ccc;
  border-radius: 10px;
  background-color: transparent;
}

.design-card:hover {
  transform: scale(1.05);
}

.design-card-image {
  flex: 0 0 auto;
  margin-right: 20px;
}

.design-card-image img {
  width: 250px;
  height: auto;
  border-radius: 8px;
}

.design-card-content {
  flex: 1;
}

.design-card h3 {
  margin-top: 0;
  font-size: 20px;
  color: white;
}

.design-card p {
  font-size: 16px;
  color: rgb(171, 171, 171);
}

.design-card .released {
  font-size: 8px;
  text-transform: uppercase;
}
