.design-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}

.design-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
}

.design-menu-filter {
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
}

.now-playing-wrapper {
  overflow: hidden;
  white-space: nowrap;
  margin-top: -20px;
  margin-bottom: 20px;
}

.now-playing {
  display: inline-block;
  padding-left: 100%;
  font-size: 0.8rem;
  animation: marquee 13s linear infinite;
}
.now-playing svg {
  height: 12px;
  width: 12px;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
