.full-design-card {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 800px;
  background-color: #001f7b; /* Darker blue background */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6); /* Shadow effect */
  margin: 20px auto;
  padding: 0;
  color: #ffffff; /* White text */
  position: relative;
}

.design-img {
  max-width: 250px; /* Ensure the image doesn't exceed its container's width */
  height: auto;
  margin: 0 auto;
  padding: 20px;
}

.full-design-card-content {
  padding: 20px;
}

.full-design-card-content h2 {
  margin-top: 0;
  font-size: 1.8rem;
  font-weight: bold;
}

.full-design-card-content .composer {
  font-style: italic;
  margin: -30px 0 20px;
}

.full-design-card-content p,
.full-design-card-content ul {
  margin: 10px 0;
  line-height: 1.6;
  color: #ffffff; /* White text */
}

.swot-analysis {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.swot-category {
  flex: 1 1 calc(50% - 10px);
  padding: 15px;
  border-radius: 5px;
}

.swot-category h3 {
  margin-top: 0;
  font-size: 1.4rem;
  font-weight: bold;
  color: #bebebe; /* Red for category headers */
}

.swot-category ul {
  padding-left: 20px;
}

.swot-category ul li {
  margin-bottom: 5px;
}

.points-contain {
  padding: 10px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
}

.close-btn svg {
  height: 24px;
  width: 24px;
}
