.full-theory-card {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 800px;
  background-color: #00185f;
  border-radius: 10px;
  border: 2px solid #4e4e6e;
  overflow: hidden;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  margin: 20px auto;
  padding: 20px;
  color: #ffffff;
  position: relative;
}

.full-theory-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.full-theory-card-content h2 {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.full-theory-card-content a {
  color: #6495ed;
  text-decoration: none;
  margin: -20px 0 15px;
}

.full-theory-card-content a:hover {
  text-decoration: underline;
  color: #ff4000;
}

.full-theory-card-content .composer {
  font-style: italic;
  margin: -15px 0 10px;
  font-size: 0.8rem !important;
  color: #b1b1b1;
}

.full-theory-card-content p {
  margin: 10px 0;
  line-height: 1.4;
  font-size: 1.3rem;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.564);
}

.close-btn:hover {
  color: red;
}

.close-btn svg {
  height: 24px;
  width: 24px;
}

.reference {
  font-size: 0.7rem;
  color: #b1b1b1;
  text-align: left;
  margin-top: 10px;
}

.full-theory-card-content .card-content {
  line-height: 1.3;
  font-size: 1.1rem;
}
