.menu-filter {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-btn {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  color: #b7b7b7;
  background-color: rgba(39, 39, 39, 0.981);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.filter-btn:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

.filter-btn.active {
  background-color: #ffffff;
  color: #000000;
}
