.menu-filter {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-btn {
  padding: 10px 18px;
  font-size: 14px;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.981);
  color: #ff4000;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.filter-btn:hover {
  background-color: rgb(0, 0, 0);
  color: #2893bd;
}

.filter-btn.active {
  background-color: #2893bd;
  color: #ffffff;
}
