.theory-card {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px 0;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.theory-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.theory-card img {
  width: 180px;
  height: auto;
  border-radius: 8px;
}

.theory-card h2 {
  margin: 0 0 8px;
  font-size: 1.3em;
  color: white;
}

.theory-card p {
  margin-top: 40px;
  color: white;
}
