.artist-profile {
  width: 80%;
  margin: 20px auto;
  border-radius: 8px;
}

.profile-section {
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  padding: 10px;
}

.profile-section.small {
  height: 250px;
  position: relative;
}

.profile-section.small::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/public/Images/Background.jpeg") no-repeat center center;
  background-size: cover;
  z-index: 0;
}

.profile-section.small::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.section-one {
  position: relative;
  height: 100%;
  z-index: 2;
}

.section-one .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  text-align: left;
  z-index: 3;
  color: white;
}

.section-one .overlay h1 {
  font-size: 2.6em;
  margin-left: -2px;
}

.section-one .overlay .verified-check {
  vertical-align: middle;
  margin-top: -3px;
  color: blue;
}

.section-one .overlay .verified {
  margin-bottom: -40px;
}

.section-one .overlay .proj-count {
  margin-top: -20px;
}

.section-one .overlay .proj-count span {
  font-size: 0.65em;
}

.section-one .overlay p {
  font-size: 0.8em;
  margin: 0;
}

.profile-section.large {
  height: auto;
  text-align: left;
}

.profile-section.large h2 {
  margin-bottom: 10px;
  font-size: 2.2em;
  text-align: center;
}

.profile-section.large p {
  font-size: 1em;
  line-height: 1.5;
}

.profile-section.contact {
  height: auto;
  text-align: left;
  padding: 20px;
  border: 1px solid rgb(61, 61, 61);
}

.profile-section.contact h2 {
  margin-bottom: 10px;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
}

.profile-section.contact ol {
  list-style-type: none;
  padding-left: 20px;
  counter-reset: custom-counter;
}

.profile-section.contact ol li {
  margin-bottom: 10px;
  font-size: 1em;
  position: relative;
}

.profile-section.contact ol li::before {
  content: counter(custom-counter);
  counter-increment: custom-counter;
  margin-right: 20px;
}

.profile-section.contact ol li {
  padding: 5px 0;
}

.profile-section.contact ol li:not(:last-child) {
  border-bottom: 1px solid #888;
}

.profile-section.contact ol li a {
  text-decoration: none;
  color: inherit;
}

.profile-section.contact ol li a:hover {
  color: #2893bd;
}

.profile-section.contact ol li svg {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-bottom: -5px;
  align-self: center;
}

.contact-p {
  text-align: center;
  font-size: 0.8rem;
}
