/* MusicCard.css */

/* Flex container for section */
.section-container {
  display: flex;
  flex-direction: column; /* Stack items vertically by default */
  align-items: center; /* Center align items */
  padding: 20px;
  overflow-y: auto; /* Enable vertical scrolling */
  height: 100vh; /* Full viewport height */
}

/* Hero Info */
.hero-info {
  text-align: left;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  max-width: 100vw; /* Limit max width for better readability */
}

.site-name {
  font-size: 2.5em;
  margin-bottom: 5px;
}

.slogan {
  font-size: 1.2em;
}

/* Music Card */
.music-card {
  width: 100%;
  max-width: 300px; /* Adjust width as needed */
  overflow: hidden;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  animation: boxShadow 3s ease-in-out infinite;
}

@keyframes boxShadow {
  0% {
    box-shadow: 0 0 5px #2893bd;
  }
  50% {
    box-shadow: 0 0 20px rgba(0, 4, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 5px #2893bd;
  }
}

.music-card figure {
  margin: 0;
  padding: 0;
  position: relative;
}

.album-art {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.album-art svg {
  width: 100%;
  height: auto;
}

.music-card .info {
  padding: 15px 0;
  text-align: left;
}

.music-card .title {
  font-size: 1.5em;
  margin-bottom: -15px;
  margin-top: -5px;
}

.music-card .artist {
  font-size: 0.8em;
  color: #666;
  padding-top: 10px;
}

.music-card .controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: #d5d5d5;
  border-radius: 50px;
}

.music-card .control-btn {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  color: rgb(58, 58, 58);
}

.music-card .control-btn:hover {
  transform: scale(1.3);
  color: #2893bd;
}

.music-card .control-btn:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 80%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  white-space: nowrap;
  font-size: 0.7rem;
  color: black;
}

.progress-bar {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
}

.time-start,
.time-end {
  width: 50px;
  text-align: center;
}

.bar {
  flex: 1;
  height: 10px;
  background: rgba(117, 117, 117, 0.451);
  border-radius: 5px;
  margin: 0 10px;
  position: relative;
}

.progress {
  width: 14%;
  height: 100%;
  background: rgb(0, 0, 0);
  border-radius: 5px;
}

/* Media query for responsiveness */
@media (min-width: 768px) {
  .section-container {
    flex-direction: row; /* Align items horizontally on larger screens */
    justify-content: space-between; /* Distribute items evenly */
  }

  .hero-info {
    max-width: initial; /* Reset max width */
    margin-right: 20px; /* Add space between hero-info and music-card */
  }

  .music-card {
    margin-bottom: 0; /* Remove bottom margin for larger screens */
  }
}
