.navbar {
  padding: 1rem;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.nav-links li {
  margin-right: 1rem;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links li button {
  color: grey;
  background-color: transparent;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.nav-links li button:hover {
  color: white;
  text-decoration: underline;
}

.nav-links li button:focus,
.nav-links li button:active {
  color: blue;
}
