.card {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: boxShadow 2s ease-in-out infinite;
}

@keyframes boxShadow {
  0% {
    box-shadow: 0 0 5px #bd2828;
  }
  50% {
    box-shadow: 0 0 20px rgba(148, 3, 3);
  }
  100% {
    box-shadow: 0 0 5px #ff0000;
  }
}

.card-title {
  margin-bottom: 15px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ff0000;
  border-radius: 4px;
  font-size: 1rem;
}

.suggestions {
  margin-top: 10px;
}

.suggestion {
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #c4c4c4;
  border-radius: 50px;
  text-align: center;
  color: #000000;
}

.suggestion:hover {
  background-color: #6b6b6b;
  color: #ff0000;
}

@media only screen and (max-width: 600px) {
  .card {
    padding: 15px;
  }

  .card-title {
    font-size: 1.1rem;
  }

  .form-control {
    font-size: 0.9rem;
  }

  .suggestion {
    padding: 4px 8px;
  }
}

.artist-images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.artist-container {
  text-align: center;
  margin: 30px;
}

.artist-img {
  border-radius: 50%;
  width: 100%;
  max-width: 150px;
  height: auto;
}

.artist-name {
  margin-top: 5px;
}

.related-artist-title {
  text-align: center;
}

.intro-text {
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  padding: 10px 40px 10px 40px;
  margin-bottom: 20px;
}
