/* ArtPage.css */

.tab-nav {
  margin-bottom: 20px; /* Add margin to separate from content */
  text-align: center; /* Center align the buttons */
}

.tab-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tab-nav ul li {
  display: inline-block;
  margin-right: 20px;
}

.tab-nav ul li .tab-button {
  border: none;
  background-color: #ffa6007d; /* Orange color */
  padding: 8px 16px; /* Adjust padding */
  border-radius: 20px; /* Make it more oval */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px; /* Adjust font size */
  color: rgba(0, 0, 0, 0.516); /* Text color */
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.tab-nav ul li .tab-button:hover {
  background-color: #00438bd8;
  color: rgb(255, 255, 255); /* Darker orange on hover */
}

.tab-nav ul li.selected .tab-button {
  background-color: #007bff;
  color: white; /* Reddish-orange for selected button */
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  .tab-nav ul li .tab-button {
    font-size: 14px; /* Adjust font size for smaller screens */
    padding: 6px 12px; /* Adjust padding for smaller screens */
    border-radius: 16px; /* Adjust border radius for smaller screens */
  }
}

.now-playing-wrapper {
  overflow: hidden;
  white-space: nowrap;
  margin-top: -20px;
  color: gray;
}

.now-playing {
  display: inline-block;
  padding-left: 100%;
  font-size: 0.8rem;
  animation: marquee 13s linear infinite;
}
.now-playing svg {
  height: 12px;
  width: 12px;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
